{% extends 'base.html' %}

{% block page_title %}
Lista de Contatos
{% endblock %}

{% block page_content %}

<div class="container-fluid py-4">
    <div class="d-flex align-self-center">
        <h1>Lista de Contatos</h1>
        <a href="/adicionar" class="ms-auto py-3 btn btn-success fw-bold">[+] Adicionar Contato</a>
    </div>

    <div class="row py-5">

        {% if get_flashed_messages() %}
        <div class="alert alert-info">
            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <table class="table table-hover table-striped ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Data de Nascimento</th>
                    <th>E-mail</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>

                {% for row in rows %}
                <tr>
                    <td>{{ row['id'] }}</td>
                    <td>{{ row['nome'] }}</td>
                    <td>{{ row['telefone'] }}</td>
                    <td>{{ row['data_nascimento'] }}</td>
                    <td>{{ row['email'] }}</td>
                    <td>
                        <a href="/visualizar/{{ row['id'] }}" class="text-dark">Visualizar</a> |
                        <a href="/editar/{{ row['id'] }}" class="text-dark">Editar</a> |
                        <a href="/excluir/{{ row['id'] }}" class="text-danger delete-item">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}